body{
  /*background: #A5A7CF;
  color:#272D83;*/
  color: #009534;
}
header{
  /*background: #00753E;*/
  height: 10rem;
  text-align: center;
}
.container{
  margin-left: 4rem;
  width: 90%;
}
.logo{
  padding-top: 0.5rem;
  padding-left: 1rem;
  width: 80%;
}
.slogan{
  margin: 0;
  border: 0;
  padding: .5rem;
  font-size: larger;
  font-weight: 400;
  font-style: oblique;
  text-shadow: 1px 0.5px;
  text-transform: capitalize;
  text-align: -webkit-left;
  color: #3D550C;
}
nav{
  background: transparent;
  box-shadow:none;
}
.itemnav{
  background: #3D550C;
  border: 5px solid transparent;
  line-height: 2.6rem;
  border-radius: 2em 1em 4em / 0.5em 3em;
  margin-top: 0.5rem;
}
.redessociales{
  margin-left: -3rem !important;
}
.redessociales-img{
  width: 80%;
}
.card{
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
}
.card img{
  width: 100%;
}
.imagenizquierda{
  width: 50%;
  height: 50%;
  float:left;
  margin-right: 1rem;
}
.imagenderecha{
  width: 50%;
  height: 50%;
  float:right;
  margin-left: 1rem;
}
.card-content{
  text-align: justify;
}
.chip{
  margin-bottom: 0.4rem;
}
h3{
  color: #FF0BAC;
}
h4{
  color: #272D83;
}
input[type="text"]{
  color: #FF0BAC;
  font-weight: 500;
  font-style: oblique;
}
.derecha{
  text-align: right;
}

@media screen and (max-width:600px){
  header{
    margin-right: -35px;
  }
  .logo{
    padding: 0.3rem 0 0 0;
    width: 12rem;
    height: 9.5rem !important;
  }
  .slogan{
    text-align: center;
  }
  .on-small{
    margin-left: -35px !important;
  }
  .itemnav {
    line-height: 1.6rem;
    margin-top: 0.5rem;
  }
  .para-movil{
    margin-left: -30px !important;
    margin-right: 30px !important;
  }
}

@media screen and (max-width:991px) and (min-width:601px){
  header{
    margin-right: -10px;
  }
  .slogan{
    text-align: center;
  }
}
